<!-- develop by ngocbich85hd -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>FSALE - Quản lý bán hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/stylePopSP.css">
    <link rel="stylesheet" href="/dist/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/style01.css">
    <link rel="stylesheet" type="text/css" href="/Content/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/dist/ionicons-2.0.1/css/ionicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body id="page-top" class="pageFane">
    <div ng-app="FSaleApp">
      <div ng-controller="NewSelectPageController" ng-init="IsLogged = 1; FacebookUserId = &#39;374043163044305&#39;; access_token = &#39;xmduje3WL_1ohDbMNl5d4TnOQZuGjTGb809AkZJ4Uexm8hp4kL9AXxB3W5fc2p095gHN_yA6ACNkrhOQ7vm10ipKf8lQmhh86PfAEEQm9MDdXYuAO0Qr5VGounhLbdEcFv3GFLBtLFywGYQKEu8u9KOWW1FrX3lUKaJ3HyWY9GLFRMbW8CMppsiKy1kjtTUuyQ1ST-8Wd-rn2kxiKd_yrTa8niaJFOMmSDvyj0QqtCj9TJXbyEV7EjeQ0AsMOuNdpnl-uymuFglvtb-qArV06YqhTlVzZjeCfEzNr-HG33x27ipJNzwv5JzxlSkT9lSoTOT8mNwtXuok68zDynQvpqNkuD6FDgeTg_W-jiClrsE&#39;; UserFacebookToken = &#39;EAAEdNZBzxkhQBACQZB36aWmhDYh8ZB6nnobTasQAMD0psXRqNEkWoBQ9s1lKoT8v6qGHpzaGGBSGEZCIIUHpgtA40l7HLJ1fXP4Hp0PZC8HEZAy2vvqdWfi8sXaaiNFJlr3vkx9y1AzHbNRNsyNeNTqy68tSI32ZAKZCUF27c1oE3wZDZD&#39;; init();">
        <section id="services" class="services" ng-cloak>
          <div class="container signin-layout shop">
            <div class="row">
              <!--<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>-->
              <div class="col-sm-12 col-xs-12 signin-box">
                <div class="title">
                  <h2 translate="select_page.select_fanpages"></h2>
                  <em>{{ 'select_page.select_fanpages_text1' | translate }}</em>
                </div>
                <div class="has-pages shop-manager clearfix">
                  <div class="list-pages">
                    <!-- ngIf: ui.fanpages -->
                    <div class="user-info">
                      <div class="avata">
                        <img ng-src='https://graph.facebook.com/374043163044305/picture?type=large'
                          src='https://graph.facebook.com/374043163044305/picture?type=large'
                          class="img-rounded">
                      </div>
                      <div class="info">
                        <h3 class="ellipsis">L&#234; Hu&#226;n (374043163044305)</h3>
                        <a href="/extend-and-coupon.html" class="extend">Gia hạn</a>
                        <a href="/logout.html" class="logout">{{ 'common.logout' | translate }}</a>
                        <div class="info-qtv">
                          <p>{{ CurrentShop.TotalSubscribedPage }} fanpage đã kích hoạt</p>
                          <p>{{ CurrentShop.TotalEmployee }} nhân viên</p>
                        </div>
                      </div>
                    </div>
                    <ul class="list-qtv">
                      <li ng-repeat="employee in CurrentShop.employees"><a href="#" ng-click="popAssignPageModal();"><img src="{{ employee.EmployeeAvatar }}"></a></li>
                      <li class="more"><a href="#" ng-click="popInviteShopModal();"><i class="ion-ios-plus-empty"></i></a></li>
                    </ul>
                    <div class="content-pages">
                      <div class="clearfix"></div>
                      <p style="color:#f05f40;margin:0;padding:0;cursor:pointer;font-size:12px;" data-toggle="modal" data-target="#guidanceModal"><b class="txtVideoGuide">Xem Video cách để thêm nhiều nhân viên quản trị.</b></p>
                      <div class="clearfix"></div>
                      <p ng-show="showTokenError" style="color:red">{{ err_message }}</p>
                      <p ng-show="showOwnedShopExpiredError" style="color:red">Shop của bạn đã bị hết hạn, vui lòng gia hạn để có thể tiếp tục sử dụng dịch vụ. <a href='/extend.html' target='_blank'>Click vào đây</a> để đến trang gia hạn</p>
                      <div class="checkbox c-check" style="border-bottom:1px solid #bbb;padding:5px 0;margin-bottom:0;margin-top:0px;">
                        <input ng-model="isAllSelected" ng-init="isAllSelected = false" id="fAll" type="checkbox" ng-change="onSelectedAllChanged();" class="ng-pristine ng-untouched ng-valid ng-empty" aria-invalid="false">
                        <label for="fAll" class="ng-binding">Chọn tất cả trang đã kích hoạt</label>
                      </div>
                      <!-- end ngIf: ui.fanpages -->
                      <div class="list-pages-scroll">
                        <div ng-repeat=" page in CurrentShop.pages" class="checkbox c-check">
                          <button ng-click="showDownloadContent(page)" ng-show="!page.isAdded" type="button" class="btn btn-kichhoat btn-lg">
                          {{ 'select_page.active' | translate }}
                          </button>
                          <span ng-show="page.isAdded" ng-class="{'active':page.isAdded}" class="status">
                            <md-switch class="md-primary" ng-model="page.isSubscribed" aria-label="Kích hoạt" style="margin:0;" ng-change="onLinkChanged(page)" ng-disabled="page.isPageRemoved">
                            </md-switch>
                          </span>
                          <input ng-model="page.isSelected" id="{{ 'g' + page.id}}" type="checkbox" ng-disabled="!page.isSubscribed || page.isPageRemoved">
                          <label class="ellipsis" for="{{ 'g' + page.id }}">
                          {{ page.name }}
                          <i href="#" class="fa fa-exclamation-triangle red-tooltip" tooltip-placement="bottom" uib-tooltip="{{ 'select_page.invalid_permission' | translate }}" ng-show="page.isPageRemoved"></i>
                          </label>
                          <ul class="list-qtv small" ng-show="page.employees">
                            <li ng-repeat="employee in page.employees | limitTo: 8"><a href="#"><img src="{{ employee.EmployeeAvatar }}" alt="{{ employee.EmployeeName }}"></a></li>
                            <li class="more" ng-hide="page.employees <= 8"><a href="#" ng-click="popAssignPageModal();"><i class="ion-ios-more"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <span class="btn btn-fb btn-select-page" ng-click="goChat();" role="button" tabindex="0">
                      <i class="fa fa-sign-in"></i> Truy cập
                      </span>
                    </div>
                  </div>
                  <div class="list-pages">
                    <!-- ngIf: ui.fanpages -->
                    <h4 class="title">Shop được ủy quyền</h4>
                    <ul class="list-qtv large" ng-if="authorizedShops.length">
                      <li ng-class="{active: $index == AuthorizedShopSelectedIndex}" ng-repeat="shop in authorizedShops" data-toggle="tooltip" data-placement="bottom" title="{{ shop.ShopName }}"><a href="javascript:;" ng-click="onAuthorizedShopChanged($index,shop.ShopId)"><img src="{{ shop.ShopAvatar }}"></a></li>
                    </ul>
                    <div style="margin:10px 13px 10px 0px;display:block;width:100%;float:left;height:60px;padding-left:13px;" ng-if="!authorizedShops.length">
                      <p style="margin:20px 0px 20px 0px;">Bạn chưa có cửa hàng nào ủy quyền</p>
                    </div>
                    <div class="content-pages">
                      <div class="clearfix"></div>
                      <p style="color:#4267b2;margin:0;padding:0;">&nbsp;</p>
                      <div class="clearfix"></div>
                      <p ng-show="showExpiredError" style="color:red">{{ err_expired }}</p>
                      <div class="checkbox c-check" style="border-bottom:1px solid #bbb;padding:5px 0;margin-bottom:0;margin-top:0px;">
                        <input ng-model="isAllAuthorizedSelected" ng-init="isAllAuthorizedSelected = false" id="fAllAuthorized" type="checkbox" ng-change="onSelectedAllAuthorizedChanged();" aria-invalid="false">
                        <label for="fAllAuthorized" class="ng-binding">Chọn tất cả trang đã kích hoạt</label>
                      </div>
                      <!-- end ngIf: ui.fanpages -->
                      <div class="list-pages-scroll">
                        <div ng-repeat=" page in CurrentAuthorizedShop.pages" class="checkbox c-check">
                          <span ng-show="page.isAdded" ng-class="{'active':page.isAdded}" class="status">
                            <md-switch class="md-primary" ng-model="page.isSubscribed" aria-label="Kích hoạt" style="margin:0;" ng-change="onLinkChanged(page)" ng-disabled="true">
                            </md-switch>
                          </span>
                          <input ng-model="page.isSelected" id="{{ 'p' + page.id}}" type="checkbox" ng-disabled="!page.isSubscribed || page.isPageRemoved">
                          <label class="ellipsis" for="{{ 'p' + page.id }}">
                          {{ page.name }}
                          <i href="#" class="fa fa-exclamation-triangle red-tooltip" tooltip-placement="bottom" uib-tooltip="{{ 'select_page.invalid_permission' | translate }}" ng-show="page.isPageRemoved"></i>
                          </label>
                        </div>
                      </div>
                      <span class="btn btn-fb btn-select-page" ng-click="goChatAuthorized();" role="button" tabindex="0">
                      <i class="fa fa-sign-in"></i> Truy cập
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="copyright ng-binding col-lg-9 col-md-9 col-sm-12 col-xs-12 right">
                2017 © CRM by <a href="https://fb.sale/" target="_blank">fb.sale</a>
              </div>
            </div>
          </div>
        </section>
        <div class="clearfix">
          <fb app-id='313601012371988'></fb>
        </div>
        <div id="guidanceModal" class="modal fade popAll add-user" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="margin:0;padding:0;">
              <div class="modal-body" style="margin:0;padding:0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;opacity:1;">
                <span aria-hidden="true">&times;</span>
                </button>
                <iframe width="100%" height="510" src="https://www.youtube.com/embed/maHc4NIG0Eg?autoplay=false" frameborder="0" allowfullscreen></iframe>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div id="downloadContentModal" class="modal fade popupLogin myKichHoat" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header ng-scope">
                <h3 class="modal-title ng-binding">{{ 'select_page.download_popup.active_page' | translate }} {{ selectedPage.name }}</h3>
              </div>
              <div class="modal-body ng-scope">
                <h3>{{ 'select_page.download_popup.load_head1' | translate }}</h3>
                <em style="font-size:12px;">{{ 'select_page.download_popup.load_text1' | translate }}</em>
                <div style="padding-left: 50px;margin-top: 10px;">
                  <b>{{ 'select_page.download_popup.select_time' | translate }}</b>
                  <div class="radio c-radio">
                    <input name="time-load" style="margin-left:6px;" ng-init="selectedTime = '0'" ng-model="selectedTime" id="time0" value="0" type="radio">
                    <label for="time0">{{ 'select_page.download_popup.no_download' | translate }}</label>
                  </div>
                  <div class="radio c-radio">
                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time1" value="3" type="radio">
                    <label for="time1">{{ 'select_page.download_popup.3day' | translate }}</label>
                  </div>
                  <div class="radio c-radio">
                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time2" value="5" type="radio">
                    <label for="time2">{{ 'select_page.download_popup.5day' | translate }}</label>
                  </div>
                  <div class="radio c-radio">
                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time3" value="7" type="radio">
                    <label for="time3">{{ 'select_page.download_popup.7day' | translate }}</label>
                  </div>
                  <div class="radio c-radio">
                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time5" value="30" type="radio">
                    <label for="time5">{{ 'select_page.download_popup.1month' | translate }}</label>
                  </div>
                  <div class="radio c-radio">
                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time6" value="60" type="radio">
                    <label for="time6">{{ 'select_page.download_popup.2month' | translate }}</label>
                  </div>
                  <div class="radio c-radio">
                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time7" value="90" type="radio">
                    <label for="time7">{{ 'select_page.download_popup.3month' | translate }}</label>
                  </div>
                  <div class="radio c-radio">
                    <input name="time-load" style="margin-left:6px;" ng-model="selectedTime" id="time8" value="365" type="radio">
                    <label for="time8">12 tháng</label>
                  </div>
                </div>
                <div class="barMaster left w100pt">
                  <div class="item-barMaster left w100pt">
                    <label>{{ 'select_page.active' | translate }}</label>
                    <div class="cssProgress">
                      <div class="progress3">
                        <div class="cssProgress-bar cssProgress-bar cssProgress-active" data-percent="{{ progress }}" style="width: {{ progress }}%;">
                          <span class="cssProgress-label">{{ progress }}%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-barMaster left w100pt">
                    <label>{{ 'select_page.download_popup.load_comment' | translate }} <i class="fa fa-refresh"></i></label>
                    <div class="cssProgress">
                      <div class="progress3">
                        <div class="cssProgress-bar cssProgress-bar cssProgress-active" data-percent="{{ progressDownload }}" style="width: {{ progressDownload }}%;">
                          <span class="cssProgress-label">{{ progressDownload }}%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer ng-scope">
                <button type="button" class="btn btn-fb btn-sm ng-scope" ng-click="activePage();" ng-disabled="((progress < 100 && progress > 0) || (progressDownload < 100 && progressDownload >0))">
                <i class="fa fa-registered"></i> {{ 'select_page.active' | translate }}
                </button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" ng-disabled="((progress < 100 && progress > 0) || (progressDownload < 100 && progressDownload >0))">
                <i></i> {{ 'common.close' | translate }}
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div id="InviteCodeModal" class="modal fade popAll add-user" role="dialog">
          <div class="modal-sm modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="fa fa-user"></span>Thêm nhân viên mới</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="themtv">Link mời tham gia : </label>  
                    <b style="line-height:34px;cursor:pointer;" copy-to-clipboard text-to-copy="CurrentShop.InviteLink" data-toggle="tooltip" data-placement="bottom" title="Click để copy">{{ CurrentShop.InviteLink }}</b>                                  
                  </div>
                  <div class="form-group">
                    <p style="float:left;" ng-if="CurrentShop.TotalEmployee == CurrentShop.MaxEmployee"><b style="color:red;">Bạn đã sử dụng hết số nhân viên trong shop của bạn : {{ CurrentShop.TotalEmployee }} / {{ CurrentShop.MaxEmployee }}</b></p>
                    <p style="float:left;" ng-if="CurrentShop.TotalEmployee < CurrentShop.MaxEmployee">Số nhân viên hiện tại trong shop của bạn : <b style="color:red;">{{ CurrentShop.TotalEmployee }}</b> / <b style="color:red;">{{ CurrentShop.MaxEmployee }}</b></p>
                    <p style="float:left;">Copy link bên trên và gửi cho nhân viên bạn muốn mời tham gia cửa hàng</p>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-ban"></span>Đóng</button>
                <button type="button" class="btn btn-success" ng-click="RefreshInviteLink();"><span class="fa fa-save"></span>Làm mới</button>
              </div>
            </div>
          </div>
        </div>
        <div id="CreateEmployeeModal" class="modal fade popAll add-user" role="dialog">
          <div class="modal-sm modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="fa fa-user"></span>Thêm thành viên</h4>
              </div>
              <div class="modal-body">
                <form id="frmAddEmployee" name="frmAddEmployee">
                  <div class="form-group">
                    <label for="themtv">Tên thành viên</label>
                    <input type="text" ng-model="newEmployee.EmployeeName" placeholder="Tên thành viên">
                  </div>
                  <div class="form-group">
                    <label for="themtv">Email</label>
                    <input type="text" ng-model="newEmployee.Email" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for="themtv">Mật khẩu</label>
                    <input type="password" ng-model="newEmployee.Password" placeholder="Mật khẩu">
                  </div>
                  <div class="form-group">
                    <label for="themtv">Tên thành viên</label>
                    <input type="text" ng-model="newEmployee.UserFacebookId" placeholder="ID Facebook">
                  </div>
                  <div class="form-group">
                    <label>Chọn page</label>
                    <select ng-model="newEmployee.Group" ng-init="newEmployee.Group = '-1'" required>
                      <option value="-1">-- Chọn quyền --</option>
                      <option value="Sale">Bán Hàng</option>
                      <option value="Manager">Quản lý</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Chọn chi nhánh</label>
                    <select id="ddlBranch" ng-model="newEmployee.BranchId" ng-init="newEmployee.BranchId = '-1'" required>
                      <option value="-1">-- {{'branch.select_brach_name' | translate}} --</option>
                      <!-- ngRepeat: branch in branches -->
                      <option ng-repeat=" branch in branches" value="{{ branch.BranchId }}">
                        {{ branch.BranchName }}
                      </option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-ban"></span>Hủy</button>
                <button type="button" class="btn btn-success" ng-click="createEmployee();"><span class="fa fa-save"></span>Lưu</button>
              </div>
            </div>
          </div>
        </div>
        <div id="AssignPageModal" class="modal fade popAll list-user" role="dialog">
          <div class="modal-lg modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="fa fa-users"></span>Danh sách quản trị viên</h4>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Danh sách Page</th>
                        <th ng-repeat="employee in CurrentShop.employees"><a href="#"><img src="{{ employee.EmployeeAvatar }}" alt=""><span>{{ employee.EmployeeName }}</span></a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat=" page in CurrentShop.employeePages">
                        <td><a href="#">{{ page.PageName }}</a></td>
                        <td ng-repeat="employee in page.employees" >
                          <input type="checkbox" ng-checked="employee.Status == 1" ng-model="employee.Status" ng-init="employee.HasChanged = false" ng-change="onSelectPageChanged(employee)"><label></label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-ban"></span>Hủy</button>
                <button type="button" class="btn btn-success"ng-click="assignPage();"><span class="fa fa-save"></span>Lưu</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/dist/js/jquery.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/jquery.easing.min.js"></script>
    <script src="/dist/js/wow.min.js"></script>
    <script src="/dist/js/common.js"></script>
    <script>
      $(document).ready(function () {
          $('#guidanceModal').on('hidden.bs.modal', function () {
              var $this = $(this).find('iframe'),
                  tempSrc = $this.attr('src');
              $this.attr('src', "");
              $this.attr('src', tempSrc);
          });
      });
    </script>
  </body>
</html>